@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="mainApp">
<head>
    <title ng-bind="title"></title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/employeesControllers.js"></script>
    <script src="~/Scripts/app/remoteService.js"></script>
</head>

<body ng-controller="employeeListController">
    <div class="container body-content">
        <div ng-view id="listView"></div>
    </div>
</body>
</html>
