@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="mainApp">
<head>
    <title ng-bind="'myApp &mdash; ' + title">myApp</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/employeesControllers.js"></script>
    <script src="~/Scripts/app/remoteService.js"></script>
</head>

<body ng-controller="employeeListController">
    <div ng-view id="listView" class="container body-content">
        <p>
            <a href="" class="btn btn-default">Add new employee</a>
        </p>
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Job Title
                </th>
                <th>
                    Employment Date
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr ng-repeat="empl in employees" class="employeeItem">
                <td>
                    {{empl.firstName}} {{empl.lastName}}
                </td>
                <td>
                    {{empl.jobTitleDescription}}
                </td>
                <td>
                    {{empl.employmentDate | date:'dd/MM/yyyy'}}
                </td>
                <td>
                    {{empl.rate | currency:'$'}}
                </td>
                <td>
                    <a href="#/employees/{{empl.employeeId}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
