<section>
    <p>
        <a href="#/employees/create" class="btn btn-default">Add new employee</a>
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                Name
            </th>
            <th>
                Job Title
            </th>
            <th>
                Employment Date
            </th>
            <th>
                Rate
            </th>
            <th>
                Action
            </th>
        </tr>
        <tr ng-repeat="empl in employees">
            <td>
                {{empl.firstName}} {{empl.lastName}}
            </td>
            <td>
                {{empl.jobTitleDescription}}
            </td>
            <td>
                {{empl.employmentDate | date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{empl.rate | currency:'$'}}
            </td>
            <td>
                <a href="" ng-click="removeEmployee(empl.employeeId)">Delete</a>
            </td>
        </tr>
    </table>
</section>
